/* @theme tombola */

@import 'gaia';

:root {
  /* background-color: #000; */
}

section.right-align {
  text-align: right;
}
section.right-align > * {
  position: relative;
  z-index: 10;
}
section.left-align {
  text-align: left;
}
section.left-align > * {
  position: relative;
  z-index: 10;
}

section.table-right table {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  font-size: 0.65rem;
}

.two-column {
  display: flex;
  justify-content: space-between;
}
.two-column > div {
  width: 48%; /* Adjust column width as needed */
}
.two-column table {
  font-size: 0.55rem;
}

.bg-overlay--right-50 {
  position: absolute;
  right:0;
  top: 0;
  display: block;
  width: 50%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  z-index:0;
}

.bg-overlay--right-40 {
  position: absolute;
  right:0;
  top: 0;
  display: block;
  width: 40%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  z-index:0;
}

.bg-overlay--left-50 {
  position: absolute;
  left:0;
  top: 0;
  display: block;
  width: 50%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  z-index:0;
}

.bg-overlay--left-40 {
  position: absolute;
  left:0;
  top: 0;
  display: block;
  width: 40%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  z-index:0;
}

h1 strong, h2 strong, h3 strong {
  color: inherit
}